@model PhoneBook.UI.Models.TelephoneNumber

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div class="container">
    <dl>
        <dt >
            @Html.DisplayNameFor(model => model.NumberType)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.NumberType)
        </dd>
        <dt >
            @Html.DisplayNameFor(model => model.Number)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Number)
        </dd>      
    </dl>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id  }) |
    <a asp-action="Details" asp-controller="Contact", asp-route-id="@Model.ContactId">Back to List</a>
</div>
