@model PhoneBook.UI.Models.UserModel

@{
    ViewData["Title"] = "Details";
}

<h1 class="title">Phonebooks available for @Model.FirstName</h1>

<div>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }, new {@class="button is-small"}) |
    @Html.ActionLink("New PhoneBook", "Create","UserPhoneBook", new { id = Model.Id }, new {@class="button is-small"}) |
    <a asp-action="Index" class="button is-small">Back to User List</a>
</div>
<div>
    <table class="table">
        <thead>
            <tr>
                <th>
                    PhoneBooks
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.PhoneBooks)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>                   

                    <td>
                        @Html.ActionLink("Edit", "Edit",nameof(UserPhonebook), new { id = item.Id },new {@class="button is-small"}) |
                        @Html.ActionLink("Details", "Details", nameof(UserPhonebook), new { id = item.Id },new {@class="button is-small"}) |
                        @Html.ActionLink("Delete", "Delete", nameof(UserPhonebook), new { id = item.Id },new {@class="button is-small is-danger"})
                    </td>
                </tr>
            }
        </tbody>
    </table>

</div>

