@model IEnumerable<PhoneBook.UI.Models.UserModel>

@{
    ViewData["Title"] = "Index";
}

<h1 class="title">List of Users</h1>

<p>
    <a asp-action="Create" class="button is-primary">Create New</a>
</p>
<table class="table is-striped is-hoverable">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Surname)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EmailAddress)
            </th>     
          
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Surname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EmailAddress)
            </td>         
                  
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.Id },new {@class="button is-small"}) |
                @Html.ActionLink("Details", "Details", new { id = item.Id }, new {@class="button is-small"}) |
                @Html.ActionLink("Delete", "Delete", new { id = item.Id }, new {@class="button is-danger is-small"})                
            </td>
        </tr>
}
    </tbody>
</table>
