@model PhoneBook.UI.Models.UserPhonebook

@{
    ViewData["Title"] = "Details";
}

<h1>Details for PhoneBook - @Html.DisplayFor(model=>model.Name)</h1>

<p>
    <a asp-action="Create">New PhoneBook</a> |
    <a asp-action="Create" asp-controller="Contact" asp-route-id="@Model.Id">New Contact</a>
</p>

<table class="table">
    <thead>
        <tr>           
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
        
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Contacts) {
        <tr>            
            <td>
                @Html.DisplayFor(modelItem => item.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Lastname)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit","Contact", new { id=item.Id }) |
                @Html.ActionLink("Details", "Details", "Contact", new { id = item.Id }) |
                @Html.ActionLink("Delete", "Delete", "Contact", new { id = item.Id })
            </td>
        </tr>}
    </tbody>
</table>
